<div class="caja">
    <h1 class="titulo">Cambiar contraseña</h1>
    <div id="errores" class="errores"></div>
    <div id="estado" class="estado"></div>
    <form class="formReporte" [formGroup]="form1" (submit)="submit()">
        <label for="password">Contraseña nueva:</label>
        <input class="form-control" type="text" placeholder="contraseña nueva" id="password" formControlName="password">
        <label for="password2">Repite la nueva contraseña:</label>
        <input class="form-control" type="text" placeholder="Repite la contraseña" id="password2" formControlName="password2">
        <button class="botonVer" type ="submit" [disabled]="!form1.valid" >Crear contraseña</button>
    </form>
</div>