<h1>Cambiar contraseña</h1>
<form [formGroup]="form1" (submit)="submit()">
    <label for="password">Contraseña nueva:</label>
    <input class="form-control" type="text" placeholder="contraseña nueva" id="password" formControlName="password">
    <label for="password2">Repite la nueva contraseña:</label>
    <input class="form-control" type="text" placeholder="Repite la contraseña" id="password2" formControlName="password2">
    <button class="btn btn-primary btn-block" type ="submit" >Crear contraseña</button>
</form>