<div class="caja" *ngIf="reportesListos==true">
  <h1 class="titulo">Listado de reportes</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Titulo</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Ver Reporte</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reporte of reportes, let indice=index,">
        <th scope="row">{{indice}}</th>
        <td>{{reporte.titulo}}</td>
        <td>{{reporte.descripcion}}</td>
        <td><button (click)="verReporte(reporte.id)" class="botonVer">Ver Reporte</button></td>
      </tr>
    </tbody>
  </table>
</div>