<div class="caja">
  <div class="subtitulo">Ingresa tu correo y usuario para recuperar la contraseña</div>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <div id="estado" class="estado"></div>
            <form class="formReporte" [formGroup]="form1" (submit)="submit()">
              <div class="form-row mb-1">
                <div class="form-group col-md-6">
                  <label for="email">E-Mail:</label>
                  <input class="form-control" type="text" placeholder="E-Mail" id="email" formControlName="email">
                </div>
                <div class="form-group col-md-6">
                  <label for="password">Usuario:</label>
                  <input class="form-control" type="text" placeholder="Usuario" id="usuario" formControlName="usuario">
              </div>
              </div>
              <button class="botonVer" type ="submit" [disabled]="!form1.valid">Enviar</button><br>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>