<div *ngIf="listoJuegos==true && listoGeneros==true && listoPlataformas==true" class="caja">
  <div class="subtitulo">Listado de juegos</div>  
  <div class="cajaMenu">
    <div class="buscador">
      <div class="titulos">Buscar Juego:</div><input type="text" class="inpBuscador" name="buscador" placeholder="Search.." [(ngModel)]="buscador">
    </div>
    <div class="filtros">
      <div class="filtroPlataforma">
        <label for="plataforma">Plataforma:
          <select name="plataforma" id="plataforma" name="plataformaSeleccionada" [(ngModel)]="plataformaSeleccionada">
            <option value=""  selected="selected">Elige una plataforma</option>
            <option *ngFor="let plataforma of plataformas"  [ngValue]="plataforma.nombre">
              {{ plataforma.nombre }}
            </option>
          </select>
        </label>
      </div>
      <div class="filtroGenero">
        <label for="genero">Genero:
          <select name="genero" id="genero" name="generoSeleccionado" [(ngModel)]="generoSeleccionado">
            <option value=""  selected="selected">Elige un genero</option>
            <option *ngFor="let genero of generos"   [ngValue]="genero.nombre">
              {{ genero.nombre }}
            </option>
          </select>
        </label>
      </div>
    </div>
  </div>
  <div class="cajaListadoJuegos">
    <div class="listadoJuegos">
      <div class="cajaJuego" *ngFor="let juego of juegos | buscar:buscador | filtroGenero:generoSeleccionado | filtroPlataforma:plataformaSeleccionada, let indice=index">
        <div class="cajaFotoJuego">
          <img class="fotoJuego" src="{{juego.imagen}}">
        </div>
        <div class="cajaDatosJuego">
          <div class="datosJuego">
            <div class="tituloJuego">{{juego.nombre}}</div>
            <div class="fechaCreacionJuego"><div class="datoJuegoTipo">Fecha de lanzamiento: &nbsp;</div><div class="datoJuego">{{juego.fechaDeLanzamiento}}</div></div>
            <div class="creadorJuego"><div class="datoJuegoTipo">Creador: &nbsp;</div><div class="datoJuego"> {{juego.creador}}</div></div>
            <div class="generoJuego"><div class="datoJuegoTipo">Genero: &nbsp;</div><div class="datoJuego"> {{juego.genero}}</div></div>
            <div class="plataformaJuego"><div class="datoJuegoTipo">Plataforma: &nbsp;</div><div class="datoJuego">{{juego.plataforma}}</div></div>
          </div>
          <div class="cajaNotaJuego">
            <div class="notaJuego">{{juego.nota}}</div>
            <div class="cajaBotonVerJuego"><button (click)="verJuego(juego.id)" class="botonVerJuego">Ver Juego</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
