<div *ngIf="preparadoJuegosRecuadro1==true && preparadoVideosJuegoMejorValorado==true && preparadoJuegosRecuadro3==true && preparadoComentarMasLikes==true" class="caja">
    <div class="tituloPagina">
        <h1 class="titulo">Bienvenido a <div class="neon">{{nombrePlataforma}}</div></h1>
        <br>
      </div>
    <div class="ultimosLanzamientos">
      <h2 class="subtitulo">Ultimos lanzamientos de {{nombrePlataforma}}.</h2>
      <div class="cajaFuncion1">
          <div class="cajaUltimosLanzamientos">
            <div class="cajaUltimoLanzamiento" *ngFor="let juego of juegos1" (click)="verJuego(juego.id)" >
              <div class="parteArribaUL" style="background-image: url('{{juego.imagen}}')" ><div class="nota">{{juego.nota}}</div></div>
                <div class="parteAbajoUL">
                  <h3 class="tituloUL"> <div class="NombreNota"><div class="nombre">{{juego.nombre}}</div></div></h3>
                  <div class="cajaBotonUL" id="boton" ><button type="button" class="btn btn-primary">Haz click</button></div>
                  <div class="fechaDeLanzamientoUL">
                    <small class="text-muted">{{juego.fechaDePublicacion}}</small>
                  </div>
                </div>
            </div>  
          </div> 
      </div>
    </div>
    <div class="Video">
      <h2 class="subtitulo">El trailer del juego mejor valorado de {{nombrePlataforma}}.</h2>
      <div class="cajaFuncion2">
        <iframe class="cajaFuncion2video" [src]='video()'>
        </iframe> 
      </div>
    </div>
    <div class="juegosMasComentarios">
      <h2 class="subtitulo">Juegos con más comentarios de {{nombrePlataforma}}.</h2>
      <div class="cajaFuncion1">
          <div class="cajasJuegoMasComentario">
            <div class="cajaJuegoMasComentario" *ngFor="let juego of juegosMasComentarios" (click)="verJuego(juego.id)" >
                <div class="fotoJuegoMasComentario" style="background-image: url('{{juego.imagen}}')" ><div class="nota">{{juego.nota}}</div></div>
                <div class="cajaBotonVerJuegoMasComentarios"><button class="botonVerJuegoMasComentarios">Ver juego</button></div>
            </div>  
          </div> 
      </div>
    </div>
    <div  class="comentariosMasLikes">
      <h2>Comentarios con más likes de {{nombrePlataforma}}:</h2>
      <div class="cajaComentarios">
        <div class="cajaDeComentarios">
            <div *ngFor="let comentario of comentariosMasLikes" class="comentario">
                <div class="comentarioArriba">
                    <div class="nota">{{comentario.nota}}</div>
                    <div class="tituloComentario">{{comentario.titulo}}</div>
                    <div class="nombreJuego"><a href="/verJuego/{{comentario.idJuego}}">{{comentario.nombreJuego}}</a></div>
                </div>
                <div class="comentarioAbajo">
                    <div class="texto">{{comentario.texto}}</div>
                </div>
              </div> 
        </div>
      </div>
  </div>    
</div>
