<div class="caja">
    <div class="titulo">
        <h2 class="subtitulo">Perfil de Usuario</h2>
        <h2 class="subtitulo1">Bienvenido {{perfil.usuario}}</h2>
        <div class="cajaBoton">
            <button *ngIf="editarPerfil==false" class="botonCambiarMenu" (click)="mostrarEditarPerfil()">Editar Perfil</button>
            <button *ngIf="comentarios==false" class="botonCambiarMenu" (click)="mostrarComentarios()">Comentarios</button>
        </div>
    </div>
    <div *ngIf="editarPerfil==true" class="editarPerfil">
        <div class="perfil">
            <span class="subtitulo1">Editar cuenta</span>
            <form [formGroup]="form1" (submit)="submit()" >
                <div class="nombreUsuario">
                    <label for="nombreUsuario">Nombre de usuario:</label><div class="Usuario"> <input class="inpUsuario" (keyup)="nuevoUsuarioFuntion()" formControlName="nombreUsuario" id="nombreUsuario" type="text"> <button *ngIf="nuevaUsuario==true" (click)="nuevaUsuario=false">Cancelar la modificacion.</button><div *ngIf="nuevaUsuario==true" class="estado">Se va a modificar.</div><div *ngIf="nuevaUsuarioNoValido==true" class="AlertaPassword">El usuario como minimo tiene que tener 3 caracteres como minimo.</div></div>
                </div>
                <div class="correo">
                    <label for="email">Correo:</label>
                     <div class="email"><input (keyup)="nuevoCorreoFuntion()" class="inpEmail" formControlName="correo" id="email" type="email"><button *ngIf="nuevoCorreo==true" (click)="nuevoCorreo=false">Cancelar la modificacion</button><div *ngIf="nuevoCorreo==true" class="estado">Se va a modificar.</div><div *ngIf="nuevoCorreoNoValido==true" class="AlertaPassword">El correo como minimo tiene que tener 10 caracteres como minimo y no puede ser repetido.</div></div>
                </div>
                <div class="contraseña">
                    <label  for="passwordAntigua">Contraseña antigua:</label>
                    <div class="contraseñaAntigua"><input (keyup)="comprobarPassword()" class="inpAntigua" type="password" placeholder="Contraseña antigua" id="passwordAntigua" formControlName="passwordAntigua"><div *ngIf="passwordAntigua==true" class="AlertaPassword">Las Contraseñas no es correcta.</div></div>
                    <label for="passwordNueva">Contraseña nueva:</label>
                    <div class="contraseñaNueva1"><input (keyup)="passwordIgualesFuntion()"  class="anpNueva1" type="password" placeholder="Contraseña nueva" id="passwordNueva" formControlName="passwordNueva"></div>
                    <label for="passwordNueva2">Repite la nueva contraseña:</label>
                    <div class="contraseñaNueva2"><input (keyup)="passwordIgualesFuntion()" class="anpNueva1" type="password" placeholder="Repite la contraseña" id="passwordNueva2" formControlName="passwordNueva2"><div *ngIf="passwordIguales==true" class="AlertaPassword">Las Contraseñas no coinciden</div><div *ngIf="nuevoPasswordNoValido==true" class="AlertaPassword">La nueva contraseña debe tener como minimo  3 caracteres.</div></div>
                </div>
                <div class="imagen">
                    Imagen nueva de perfil :<br><input class="inpImagen" (change)="nuevaFotoFuntion($event)" type="file"><button *ngIf="nuevaFoto==true" (click)="nuevaFoto=false">Cancelar la modificacion</button><div *ngIf="nuevaFoto==true" class="estado">Se va a modificar.</div>
                </div>
                <span class="imagen">Foto antigua</span>
                <div class="imagenAntigua">
                    <img src="{{perfil.foto}}" class="imgAntigua"><br>
                </div>
                <div class="estado" id="estado1"></div>
                <div>
                    <input type="submit" value="Editar">
                </div>
            </form>
            <div>
                <button class="botonEliminar" *ngIf="mostrarEliminar==false" (click)='mostrarEliminar=true'>Eliminar usuario</button><br>
            </div>
            <div class="eliminarPerfil" *ngIf="mostrarEliminar==true">
                <button class="botonEliminar" (click)="eliminarPerfil()">Vuelva a hacer click para eliminar</button>
            </div>
        </div>
    </div>
    <div *ngIf="editarPerfil==false" class="comentarios">
        <div class="estado" id="estado2"></div>
        <h2 class="subtitulo1">Lista de comentarios realizados:</h2>
        <div class="cajaDeComentarios">
            <div *ngFor="let comentario of comentariosUsuario" class="comentario">
                <div class="comentarioArriba">
                    <div class="nota">{{comentario.nota}}</div>
                    <div class="tituloComentario">{{comentario.titulo}}</div>
                    <div class="nombreJuego"><a href="/verJuego/{{comentario.idJuego}}">{{comentario.nombreJuego}}</a></div>
                    <div class="cajaBotonEliminar" (click)="eliminarComentario(comentario.id)"><button class="botonEliminar">Eliminar</button></div>
                </div>
                <div class="comentarioAbajo">
                    <div class="texto"><span class="texto">{{comentario.texto}}</span></div>
                </div>
            </div>
        </div>
    </div>
</div>