.caja{
    padding: 4%;
    background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
    min-width: 100%;
    min-height: 75vh;
}

.nota{
    display: -ms-inline-flexbox;
        display: -webkit-inline-flex;
        display: inline-flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        color: white;
        background-color: #61ff47;
        font-weight: bold;
        font-size: 2vw;
        border: 1px solid #000;
        padding-top: 0.2vw;
        padding-bottom: 0.2vw;
        padding-left: 0.7vw;
        padding-right: 0.7vw;
        border: 5px solid rgba(28,110,164,0.11);
        border-radius: 40px 40px 40px 40px;
        margin-left: 5px;
}
.NombreNota{
        display: -ms-inline-flexbox;
        display: -webkit-inline-flex;
        display: inline-flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        }

.nombre{
    border-bottom: solid black;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

.titulos{
    font-weight: bolder;
}
.subtitulo{
    font-family: 'Shippori Mincho B1', serif;
    color: #FFFFFF;
    background: #b8b8b8;
    text-shadow: 4px 3px 0 #7A7A7A;
    font-size: 6vw;
}
.subtitulo{
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    color: #444444;
    background: #FFFFFF;
    text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
    color: #444444;
    background: #FFFFFF;
}

.cajaDeComentarios{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.perfil{
    background-color: white;
    border: solid black;
    margin-top: 2%;
    margin-bottom: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
}
.subtitulo1{
    display: flex;
    font-weight: bold;
    font-size: 3vw;
}
.comentario{
    margin: 1vh;
    padding: 1vh;
    background-color: rgb(201, 183, 183);
    border: solid rgb(97, 92, 92);
    width: 100%;
    height: 100%;
    display: inline-block;
}
.comentarioArriba{
    width: 100%;
    display: flex;
    align-items: flex-start;
}
.comentarioAbajo{
    width: 100%;
    margin-top: 1vh;
    display: flex;
    align-items: flex-start;
    display: flex;
    padding-left: 1vw;
    padding-top: 1vh;
    
}
.cajaBoton{
    margin-top: 2%;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
}
.tituloComentario{
    font-weight: bold;
    margin-left: 1vw;
    margin-top: 1vh;
    font-size: 2vw;
    justify-content: flex-end;
    width: 400vw;
}

.nombreJuego{
    font-size: 2vw;
    font-weight: bold;
    width: 100vw;
    display: flex;
    justify-content: left;
    align-items: left;
    align-self: stretch;
}
.cajaBotonEliminar{
    font-size: 2vw;
    width: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background-color: red;
}
.texto{
    width: 100%;
    height: 100%;
}
.nombreUsuario{
    margin: 1vh;
}
.correo{
    margin: 1vh;
}
.contraseña{
    margin: 1vh;
}
.contraseñaAntigua{
    margin: 1vh;
}
.contraseñaNueva1{
    margin: 1vh;
}
.contraseñaNueva2{
    margin: 1vh;
}
.anpNueva2{
    width: 12vw;
}
.apNueva1{
    width: 15vw;
}
.anpAntigua{
    width: 12vw;
}
.inpEmail{
    width: 22vw;
    margin: 1vh;
}
.inpUsuario{
    margin: 1vh;
}
.imagen{
    margin: 1vh;
}
.inpImagen{
    margin: 1vh;
}
.imagenAntigua{
    margin: 1vh; 
}

.imgAntigua{
    padding-left: 10vh;
    width: 40%;
}
.perfil{
    padding-left: 10vh;
    font-size: 3vh;
}
.AlertaPassword{
    font-size: 3vh;
    color: red;
    font-weight: bold;
}
.estado{
    font-size: 3vh;
    color: green;
    font-weight: bold;
}
.texto{
    font-size: 1.5vw;
}
.botonCambiarMenu{
    display: flex;
    width: 14%;
    height: 100%;
    margin: 0.5%;
    padding: 0.5%;
    font-size: 1vw;
    color: var(--button-colour);
    transition: all 0.3s ease-in-out;
    background: var(--button);
    border: solid 1px var(--button-border);
    box-shadow: inset 0 0 0 2px #ffffff;
    margin-right: 1%;
    font-weight: bold;
    color: white;
    --button: hsl(240, 100%, 49%);
    --button-hover: hsl(240, 100%, 50%);
    --button-active:  hsl(231, 76%, 47%);
    --button-visited: hsl(240, 68%, 46%);
    --button-colour: #1e1e1e;
    --button-border: #1e1e1e;
    justify-content: center;
  }
  button:hover{
    text-decoration-line: underline;
  }
  .botonEliminar{
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0.5%;
    padding: 0.5%;
    font-size: 1vw;
    color: var(--button-colour);
    transition: all 0.3s ease-in-out;
    background: var(--button);
    border: solid 1px var(--button-border);
    box-shadow: inset 0 0 0 2px #ffffff;
    margin-right: 1%;
    font-weight: bold;
    color: white;
    --button: hsl(0, 100%, 50%);
    --button-hover: hsl(0, 100%, 50%);
    --button-active:  hsl(0, 100%, 51%);
    --button-visited: hsl(0, 79%, 48%);
    --button-colour: #1e1e1e;
    --button-border: #1e1e1e;
    justify-content: center;
  }