<div class="caja">
    <div class="titulo">
        <h2 class="subtitulo">Perfil de Usuario</h2>
        <h2 class="subtitulo1">Bienvenido {{perfil.usuario}}</h2>
        <div class="cajaBoton">
            <button *ngIf="editarPerfil==false" class="btn btn-primary" (click)="mostrarEditarPerfil()">Editar Perfil</button>
            <button *ngIf="comentarios==false" class="btn btn-primary" (click)="mostrarComentarios()">Comentarios</button>
        </div>
    </div>
    <div *ngIf="editarPerfil==true" class="editarPerfil">
        <div class="perfil">
            <span class="subtitulo2">Editar cuenta</span>
            <form [formGroup]="form1" (submit)="submit()" >
                <div class="nombreUsuario">
                    <label for="nombreUsuario">Nombre de usuario:</label> <input (click)="nuevoUsuarioFuntion()" formControlName="nombreUsuario" id="nombreUsuario" type="text">
                </div>
                <div class="Correo">
                    <label for="email">Correo:</label>
                     <input (click)="nuevoCorreoFuntion()" formControlName="correo" id="email" type="email">
                </div>
                <div class="contraseña">
                    <label  for="passwordAntigua">Contraseña antigua:</label>
                    <input (click)="nuevaPasswordFuntion()" class="form-control" type="password" placeholder="contraseña antigua" id="passwordAntigua" formControlName="passwordAntigua">
                    <label for="passwordNueva">Contraseña nueva:</label>
                    <input (click)="nuevaPasswordFuntion()" class="form-control" type="password" placeholder="contraseña nueva" id="passwordNueva" formControlName="passwordNueva">
                    <label for="passwordNueva2">Repite la nueva contraseña:</label>
                    <input (click)="nuevaPasswordFuntion()" class="form-control" type="password" placeholder="Repite la contraseña" id="passwordNueva2" formControlName="passwordNueva2">
                </div>
                <div class="imagen">
                    Imagen nueva de perfil :<input (change)="nuevaFotoFuntion($event)" type="file">
                </div>
                <div class="imagenAntigua">
                    <img src="{{perfil.foto}}" alt="100" width="100"><br>
                </div>
                <input type="submit" value="Editar">
            </form>
        </div>
        <div class="perfil">
            <button class="btn btn-warning" (click)='mostrarEditar=!mostrarEditar'>Editar usuario</button><br><br>
            <button class="btn btn-danger" (click)='mostrarEliminar=!mostrarEliminar'>Eliminar usuario</button><br>
        </div>
        <div class="eliminarPerfil" *ngIf="mostrarEliminar">
            <button class="btn btn-danger" (click)="eliminarPerfil()">Eliminar perfil</button>
        </div>
        <div class="perfil" *ngIf='mostrarEditar'>
            <span class="subtitulo2">Modificar contraseña</span>
            <form class="form-group" [formGroup]="form1" >
                <label for="email">Contraseña antigua:</label>
                <input class="form-control" type="text" placeholder="contraseña antigua" id="passwordAntigua" formControlName="passwordAntigua">
                <label for="email">Contraseña nueva:</label>
                <input class="form-control" type="text" placeholder="contraseña nueva" id="passwordNueva" formControlName="passwordNueva">
                <label for="password">Repite la nueva contraseña:</label>
                <input class="form-control" type="text" placeholder="Repite la contraseña" id="passwordNueva2" formControlName="passwordNueva2">
                <button class="btn btn-primary btn-block" type ="submit" >Modificar contraseña</button>
            </form>
        </div>
    </div>
    <div *ngIf="editarPerfil==false" class="comentarios">
        <h2>Lista de comentarios realizados:</h2>
        <div class="cajaDeComentarios">
            <div *ngFor="let comentario of comentariosUsuario" class="comentario">
                <div class="comentarioArriba">
                    <div class="nota">{{comentario.nota}}</div>
                    <div class="tituloComentario">{{comentario.titulo}}</div>
                    <div class="nombreJuego">{{comentario.nombreJuego}}</div>
                    <div class="cajaBotonEliminar" (click)="eliminarComentario(comentario.id)"><button class="btn btn-danger">Eliminar</button></div>
                </div>
                <div class="comentarioAbajo">
                    <div class="texto">{{comentario.texto}}</div>
                </div>
            </div>
        </div>
    </div>
</div>