<div class="caja">
    <div class="cajaIzquierda">
        <div class="cajaForo">
            <img src="./assets/foto.PNG" class="foto">
        </div>
        <div class="cajaPerfil">
            <span class="tituloPerfil">PERFIL</span>
            <div class="perfil">
                Hola, soy Manuel Palomino, me
                considero una persona seria,
                confiable y aplicada, me encanta
                buscar soluciones a cualquier tipo de
                problema en la programación y
                disfruto con todo lo relacionado de
                este ámbito.
            </div>
        </div>
        <div class="cajaObjetivos">
            <span class="tituloObjetivo">OBJETIVOS</span>
            <div class="objetivos">
                Mis objetivos a largo plazo es mejorar
                los lenguajes de programación que
                ya conozco y aprender nuevos y
                nuevas formas de trabajar con los
                mismos.
            </div>
        </div>
        <div class="cajaContacto">
            <span class="tituloContacto">CONTACTO</span>
            <div class="contacto">
                TELÉFONO:
                636324302 <br>
                CORREO ELECTRÓNICO:
                manuelpalomino484@gmail .com
            </div>
        </div>
        <div class="cajaMapa"><app-mapa></app-mapa></div>
    </div>
    <div class="cajaDerecha">
        <div class="cajaNombre">
            <span class="titulo">
                Manuel Palomino Montealegre
            </span>
            <span class="subtitulo">
                Desarrollador de Aplicaciones Web
            </span>
        </div>
        <div class="cajaEducacion">
            <span class="subtitulo2">EDUCACIÓN</span><br>
            <span class="tituloEscolar"><span class="negrita">Grado Medio de Sistemas Microinformáticos y Redes </span> <br> IES JUAN BOSCO <br> 2017 - 2019 <br></span>
            <span class="tituloEscolar"><span class="negrita">Grado Superior de Desarrollo de Aplicaciones Web </span> <br> IES JUAN BOSCO <br> 2019 - 2021</span>
        </div>
        <div class="cajaExperiencia">
            <span class="subtitulo2">Experiencia</span><br>
            <span class="texto2">
                Deporte Vip Practicas <br>
                27/03/2019 - 20/06/2019 <br>
                Encargado de añadir entradas a una base de datos <br>
            </span>
        </div>
        <div class="cajaHabilidades">
            <span class="subtitulo2">Habilidades</span>
            <div class="texto2">
                HTML: Junior.
                <br>CSS: Junior
                <br>JAVA: Junior
                <br>MYSQL: Junior
                <br>JAVASCRIPT: Junior
                <br>MYSQL: Junior
                <br>PHP: Junior
                <br>JQUERY: Junior
                <br>Angular: Junior
                <br>SYMFONY: Junior
                <br>Microsoft Office: Junior
            </div>
        </div>
        <div class="cajaIdiomas">
            <span class="subtitulo2">Idiomas</span>
            <div class="texto2">
                    Castellano: Nativo
                <br>Inglés: Técnico
            </div>
        </div>
    </div>
</div>

