<div class="caja" *ngIf="comentarioListo==true">
    <h1 class="titulo">Reportar Comentario</h1>
    <a href="/administracion/reportes/listarReportes" class="botonDefecto">Volver a el listado de reportes</a>
    <div class="comentario">
        <h2 class="subtitulo">Datos del comentario</h2>
        <span class="tipoDato">Titulo: </span><span class="dato">{{comentario.titulo}}</span><br>
        <span class="tipoDato">Texto: </span><span class="dato">{{comentario.texto}}</span><br>
        <span class="tipoDato">Nota: </span><span class="dato">{{comentario.nota}}</span><br>
    </div>
    <div class="comentario">
        <h2 class="subtitulo">Datos del reporte</h2>
        <span class="tipoDato">Titulo: </span><span class="dato">{{reporte.titulo}}</span><br>
        <span class="tipoDato">Texto: </span><span class="dato">{{reporte.descripcion}}</span><br>
        <div id="estado" class="estado"></div>
    </div>
    <div class="botones">
        <button class="botonEliminar" (click)="eliminarComentario()">Borrar Comentario</button>
        <button class="botonEliminar" (click)="eliminarReporte()">Borrar Reporte</button>
    </div>
</div>
