<div *ngIf="isJuego&&isGeneros&&isPlataformas" class="caja">
  <div class="titulo">
    Editar Juego
  </div>
  <div class="cajaFormulario">
    <form class="cajaFormulario" [formGroup]="form1" (submit)="submit()">
      <div class="formulario">
          <div class="cajaDatoJuego">
            <label class="cajaDatoJuego"  for="nombre">
              <div class="datoJuego"><span class="negrita">Nombre:</span></div>
              <div class="cajaImp"><input class="impNombre" type="text" placeholder="Nombre" id="nombre" formControlName="nombre"></div>
            </label>  
          </div>
          <div class="cajaDatoJuego">
            <label class="cajaDatoJuego" for="fechaDeLanzamiento">
              <div class="datoJuego"><span class="negrita">fechaDeLanzamiento:</span></div>
              <div class="cajaImp"><input class="impfechaLanzamiento" type="date" placeholder="fechaDeLanzamiento" id="fechaDeLanzamiento" formControlName="fechaDeLanzamiento"></div>
            </label>
          </div>
            <div class="cajaDatoJuego">
              <label class="cajaDatoJuego" for="comprar">
                <div class="datoJuego"><span class="negrita">Enlace para comprar:</span></div>
                <div class="cajaImp"><input class="" type="url" placeholder="comprar" id="comprar" formControlName="comprar"></div>
              </label>
            </div>
              <div class="cajaDatoJuego">
                <label class="cajaDatoJuego" for="edad">
                  <div class="datoJuego"><span class="negrita">Minimo de edad para jugar al juego:</span></div>
                  <div class="cajaImp"><input class="" type="text" placeholder="edad" id="edad" formControlName="edad"></div>
                </label>
              </div>
              <div class="cajaDatoJuego">
                <label class="cajaDatoJuego" for="creador">
                  <div class="datoJuego"><span class="cajaDatoJuego" class="negrita">Creador:</span></div>
                  <div class="cajaImp"><input class="" type="text" placeholder="creador" id="creador" formControlName="creador"></div>
                </label>
              </div>
              <div class="cajaDatoJuego">
                <label class="cajaDatoJuego" for="genero">
                  <div class="datoJuego"><span class="negrita">Genero:</span></div>
                  <div class="cajaImp"><select name="genero"  formControlName="genero" >
                    <option *ngFor="let genero of generos" [ngValue]="genero.id" >
                      {{ genero.nombre }}
                    </option>
                  </select></div>
                </label>
              </div>
              <div class="cajaDatoJuego">
                <label class="cajaDatoJuego" for="plataforma">
                  <div class="datoJuego"><span class="negrita">Plataforma:</span></div>
                  <div class="cajaImp"><select name="plataforma"  formControlName="plataforma">
                    <option value="" disabled>Elige una plataforma</option>
                    <option *ngFor="let plataforma of plataformas" [ngValue]="plataforma.id" [selected]="juego.plataforma == plataforma.nombre">
                      {{ plataforma.nombre }}
                    </option>
                  </select></div>
                </label>
              </div>
              <div class="cajaDatoJuego">
                <label class="cajaDatoJuego" for="numeroDeJugadores">
                  <div class="datoJuego"><span class="negrita">Numero de jugadores:</span></div>
                  <div class="cajaImp"><input class="" type="text" placeholder="numeroDeJugadores" id="numeroDeJugadores" formControlName="numeroDeJugadores"></div>
                </label>
              </div>
              <div class="cajaDatoJuego">
                <label class="cajaDatoJuego" for="nombre">
                  <div class="datoJuego"><span class="negrita">Resumen:</span></div>
                  <div class="cajaImp"><textarea class="resumenJuego" placeholder="Resumen" id="resumen" formControlName="resumen" ></textarea></div>
                </label>
              </div>
              <div class="cajaDatoJuego">
                <label class="cajaDatoJuego" for="nota">
                  <div class="datoJuego"><span class="negrita">Nota:</span></div>
                  <div class="cajaImp"><input class="" type="number" placeholder="nota" id="nota" formControlName="nota"></div>
                </label>
              </div>
              <div class="cajaImagenesJuego" formArrayName="imagenes">
                <div class="cajaImagenesNuevasJuego">
                  <label class="cajaImagenesNuevasJuego" for="imagen">
                    <span class="negrita">Imagen:</span>
                    <div class="imagenNueva" *ngFor="let item of getImagenes.controls, let pointIndex=index" [formGroupName]="pointIndex">
                      <input type="file" name='imagen{{pointIndex}}' formControlName="imagen" (change)="meteImagen($event,pointIndex)">
                      <div class="controlImagen"><input class="prueba" *ngIf="campoNull(pointIndex)==false" type="radio" id="principal"  name="principal" value="imagen{{pointIndex}}" (click)="cambiarFotoPrincipal(pointIndex)"><span class="prueba" *ngIf="campoNull(pointIndex)==false">Foto principal</span></div>
                    </div>
                  </label>
                  <div class="cajaBotonesImagen">
                    <button class="botonAdd" (click)="addImagen()">Añadir imagen</button>
                    <button class="botonAdd" (click)="eliminarImagen()">Quitar imagen</button>
                  </div>  
                </div>
                <div class="cajaImagenesAntiguasJuego">
                  <span class="negrita">Imagenes Antiguas</span>
                  <div class="ImagenesAntiguasJuego" *ngFor="let imagenAntigua of imagenesJuegoAntiguas, let pointIndex=index">
                    <div class="cajaImagenAntiguaJuego">
                      <img class="imagenAntiguaJuego" src="{{imagenAntigua.direccion}}" alt="100" width="100"><br>
                      <div class="controlImagenAntiguaJuego"> Mantener imagen: <input class="controlImagenAntiguaJuego"  id="mantenerImagen{{pointIndex}}" (click)="mantenerImagen(pointIndex,imagenAntigua.id)" type="checkbox"> <br></div>
                      <div class="controlImagenAntiguaJuego">Foto principal:  <input class="controlImagenAntiguaJuego"  type="radio" id="principal"  name="principal" value="imagen{{pointIndex}}" (click)="cambiarFotoPrincipalAntigua(imagenAntigua.id,pointIndex)"> </div>
                    </div>         
                  </div>
                </div>
                
              </div>
              <div class="cajaVideosJuego">
                <div class="videosJuego" formArrayName="videos">
                  <label class="videosJuego" for="video">
                    <span class="negrita">Video:</span>
                    <div *ngFor="let item of getVideos.controls, let pointIndex=index" [formGroupName]="pointIndex">
                      <input type="text" name='video{{pointIndex}}' formControlName="video">
                    </div>
                  </label>
                  <div><button class="botonAdd" (click)="addVideo()">Añadir video</button></div>
                  <div><button class="botonAdd" (click)="eliminarVideo()">Quitar video</button></div>
                </div>
              </div>
              <div class="errores" id="errores"></div>
            <button class=""  type ="submit" >Insertar</button>
        </div>
        </form>
        
  <div>
</div>