<div class="caja">
    <div class="titulo">
      <h1>Insertar Juegos</h1>
    </div>
    <div class="formulario">
        <form [formGroup]="form1" (submit)="submit()">
            <div class="form-row mb-1">
              <div class="form-group col-md-6">
                <label for="nombre">Nombre:</label>
                <input class="form-control" type="text" placeholder="Nombre" id="nombre" formControlName="nombre">
              </div>
              <div class="form-group col-md-6">
                <label for="fechaDeLanzamiento">fechaDeLanzamiento:</label>
                <input class="form-control" type="date" placeholder="fechaDeLanzamiento" id="fechaDeLanzamiento" formControlName="fechaDeLanzamiento">
              </div>
              <div class="form-group col-md-6">
                <label for="comprar">Enlace para comprar:</label>
                <input class="form-control" type="url" placeholder="comprar" id="comprar" formControlName="comprar">
              </div>
              <div class="form-group col-md-6">
                <label for="edad">Minimo de edad para jugar al juego:</label>
                <input class="form-control" type="text" placeholder="edad" id="edad" formControlName="edad">
              </div>
              <div class="form-group col-md-6">
                <label for="creador">Creador:</label>
                <input class="form-control" type="text" placeholder="creador" id="creador" formControlName="creador">
              </div>
              <div class="form-group col-md-6">
                <label for="genero">Genero:</label>
                <select name="genero"  formControlName="genero">
                  <option value="" disabled selected="selected">Elige un genero</option>
                  <option *ngFor="let genero of generos" [ngValue]="genero.id">
                    {{ genero.nombre }}
                  </option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="plataforma">Plataforma:</label>
                <select name="plataforma"  formControlName="plataforma">
                  <option value="" disabled selected="selected">Elige una plataforma</option>
                  <option *ngFor="let plataforma of plataformas" [ngValue]="plataforma.id">
                    {{ plataforma.nombre }}
                  </option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="numeroDeJugadores">Numero de jugadores:</label>
                <input class="form-control" type="text" placeholder="numeroDeJugadores" id="numeroDeJugadores" formControlName="numeroDeJugadores">
              </div>
              
              <div class="form-group col-md-6">
                <label for="nombre">Resumen:</label>
                <input class="form-control" type="text" placeholder="Resumen" id="resumen" formControlName="resumen">
              </div>
              <div class="form-group col-md-6">
                <label for="nota">Nota:</label>
                <input class="form-control" type="number" placeholder="nota" id="nota" formControlName="nota">
              </div>
              <div class="form-group col-md-6" formArrayName="imagenes">
                <label for="imagen">Imagen:</label>
                <div *ngFor="let item of getImagenes.controls, let pointIndex=index" [formGroupName]="pointIndex">
                  <input type="file" name='imagen{{pointIndex}}' formControlName="imagen" (change)="cambiaImagen($event,pointIndex)">
                  <input type="radio" id="principal"  name="principal" value="imagen{{pointIndex}}" (click)="cambiarFotoPrincipal(pointIndex)"> Foto principal
                </div>
                 <a class="btn btn-link" (click)="addImagen()">Añadir imagen</a>
                 <a class="btn btn-link" (click)="eliminarImagen()">Quitar imagen</a>
              </div>
              <div class="form-group col-md-6" formArrayName="videos">
                <label for="video">Video:</label>
                <div *ngFor="let item of getVideos.controls, let pointIndex=index" [formGroupName]="pointIndex">
                  <input type="text" name='video{{pointIndex}}' formControlName="video">
                </div>
                 <a class="btn btn-link" (click)="addVideo()">Añadir video</a>
                 <a class="btn btn-link" (click)="eliminarVideo()">Quitar video</a>
              </div>
            <button class="btn btn-primary btn-block" [disabled]="!form1.valid" type ="submit" >Insertar</button>
        </div>
        </form>
    </div>
