<div class="caja" *ngIf="comentarioListo==true">
    <h1 class="titulo">Reportar Comentario</h1>
    <div id="estado" class="estado"></div>
    <div class="comentario">
        <h2 class="subtitulo">Datos del comentario</h2>
        <span class="tipoDato">Titulo: </span><span class="dato">{{comentario.titulo}}</span><br>
        <span class="tipoDato">Texto: </span><span class="dato">{{comentario.texto}}</span><br>
        <span class="tipoDato">Nota: </span><span class="dato">{{comentario.nota}}</span><br>
    </div>
    <div class="formReporte">
        <form [formGroup]="form1" (submit)="submit()">
            <div id="errores" class="errores">
            </div>
            <input type="text" formControlName="titulo" placeholder="Titulo del reporte"><br>
            <textarea class="textarea" formControlName="descripcion" placeholder="Motivo del reporte" ></textarea><br>
            <input class="botonEnviar" value="Enviar reporte" type="submit">
        </form>
    </div>
</div>

