<div *ngIf="cargado==true && videosListo==true && imagenesListo==true" class="caja">
    <a href="/listaJuegos" class="botonDefecto">Volver a el listado de juegos</a>
    <div class="cajaJuego">
        <div class="NombreNota"><h1 class="subtitulo">{{juego.nombre}}</h1><div class="cajaNota"><div class="nota">{{juego.nota}}</div></div></div><br>
        <div class="cajaDatosJuego">
            <div class="datosJuego">
                <span class="titulos">Fecha de creación:</span> <span class="titulosDatos"> {{juego.fechaDeLanzamiento}}</span><br>
                <span class="titulos">Creador:</span><span class="titulosDatos"> {{juego.creador}}</span> <br>
            </div>
            <div class="cajaBotones">
                <button *ngIf="cajaDeComentarios==false" (click)="mostrarCajaComentarios()">Comentarios</button>
                <button *ngIf="cajaDeMultimedia==false" (click)="mostrarCajaMultimedia()">Vídeos y Imágenes</button>
                <button *ngIf="cajaDeDetalles==false" (click)="mostrarCajaDetalles()">Detalles</button>
            </div>
        </div>
    </div>
    <div class="cajaComentarios" *ngIf="cajaDeComentarios==true">
        <div class="cajaInsertarComentario" *ngIf="!logueado()">
            <div class="errorSesion">
                <span>Necesitas Iniciar sesion para poder escribir un comentario.</span><br>
                <span>Clickea <a href="/login">aquí</a> para iniciar sesión.</span><br>
                <span>Clickea <a href="/register">aquí</a> para registrarte.</span><br>
            </div>
        </div>
        <div class="cajaInsertarComentario" *ngIf="logueado()">
            <div id="estado1" class="estado"></div>
            <form [formGroup]='formComentario' (submit)='escribirComentario()'>
                <span class="titulos">Escribir comentario:</span>
                    <div class="comentarioArribaPlantilla">
                        <div class="tituloComentarioPlantilla"><input type="text" class="inpTitulo" formControlName='titulo' placeholder='Título'><div class="error" id="titulo"></div></div><br>
                        <div class="notaComentarioPlantilla"><input type="number" class="inpNota" formControlName='nota' placeholder='Nota'><div class="error" id="nota"></div></div>
                    </div>
                    <div class="comentarioAbajoPlantilla">
                        <div class="error" id="texto"></div>
                        <textarea class="inpTexto"  placeholder='Explicacion' formControlName='texto'></textarea>
                    </div>
                    <button type='submit' class="botonDefecto" (click)="formComentario.patchValue({idUsuario:usuario.id});formComentario.patchValue({idJuego:juego.id})">Enviar comentario</button>
             </form>       
        </div>    
        <div class="cajaDeComentarios">
            <div><h2 class="tituloCajaComentarios"><span class="titulos">Comentarios</span></h2></div>
            <div *ngFor="let comentario of comentarios, let indice=index"class="comentario">
                <span class="estado" id="estadoComentario{{comentario.id}}"></span>
                <div class="comentarioArriba">
                    <div class="tituloComentario">{{comentario.titulo}}</div>
                    <div class="notaComentario">Nota:{{comentario.nota}}</div>
                    <div class="likesDislikes">
                        <div class="likes">Likes: {{comentario.likes}}</div>
                        <div class="dislikes">Dislikes: {{comentario.dislikes}}</div>
                    </div>
                </div>
                <div class="comentarioAbajo">
                    <div class="texto">{{comentario.texto}}</div>
                    <div class="cajaBotonesComentario">
                        <div class="botonReportar"><button class="reportar" (click)="reportarComentario(comentario.id)" >Reportar</button></div>
                        <div class="botonesLikeDislike">
                            <div class="botonLike"><button class="like" (click)="likeComentario(comentario.id,comentario.likes,comentario.dislikes, indice)" >Like</button></div>
                            <div class="botonDislike"><button class="dislike" (click)="dislikeComentario(comentario.id,comentario.likes,comentario.dislikes, indice)" >Dislike</button></div>
                        </div>
                    </div>
                </div>
              </div> 
        </div>
    </div>
    <div class="cajaDetalles" *ngIf="cajaDeDetalles==true"> 
        <div class="titulos">Detalles:</div>
        <div class="detalles">
            <div class="detallesArriba">
                <div class="cajaImagenDetalles" >
                    <div class="imagenDetalles" style="background-image: url('{{juego.imagen}}')">
                    </div>
                </div>
                <div class="cajaResumen">
                    <span class="titulos">Resumen:</span>
                    {{juego.resumen}}
                </div>
                <div class="cajaRestoDetalles">
                    <div><span class="negrita">Enlace de compra:</span> <a href="{{juego.comprar}}">Enlace de compra</a></div>
                    <div><span class="negrita">Genero:</span>  {{juego.genero}}</div>
                    <div><span class="negrita">Plataforma:</span>  <a href="inicioPlataforma/{{plataforma}}">{{juego.plataforma}}</a></div>
                    <div><span class="negrita">Edad minima para jugar:</span>  {{juego.edad}}</div>
                    <div><span class="negrita">Jugadores maximos:</span>  {{juego.numeroDeJugadores}}</div>
                </div>
            </div>
            <div class="detallesAbajo">
                <span class="negrita">Trailer:</span>
                <div class="trailerDetalle">
                    <iframe class="cajaFuncion2video" [src]='videoUrl'></iframe> 
                </div>
            </div>
        </div>
    </div>
    <div class="cajaMultimedia" *ngIf="cajaDeMultimedia==true"> 
        <div class="titulos">Multimedia:</div>
        <div class="multimedia">
            <div class="cajaCarruselImagenes">
                <span class="negrita">Imagenes:</span>
                <div class="carruselImagenes">
                    <button (click)="indiceImagenUrlCarrusel()">Siguiente imagen</button>
                    <div class="carruselImagen">
                        <img [src]='imagenUrlCarrusel' class="imagenCarrusel">
                    </div>
                </div>
            </div>
            <div class="cajaCarruselVideos">
                <span class="negrita">Videos:</span>
                <div class="carruselVideos">
                    <button (click)="indiceVideoUrlCarrusel()">Siguiente video</button>
                    <div class="carruselVideo"><iframe class="cajaFuncion2video" [src]='videoUrlCarrusel'></iframe> </div>
                </div>
            </div>
        </div>
    </div>
</div>
