<nav class="cajaBarraNav">
    <div class="cajaBarraNav">
      <a class="cajaImagen" href=""><img  class="imagen" src="./assets/logo.jpg" ></a>
      <div class="cajaBarraNav" id="">
        <ul class="columnaBarraNavegacion">
          <li class="fila" *ngFor=" let plataforma of plataformas">
            <a class="" href="/inicioPlataforma/{{plataforma.id}}">{{plataforma.nombre}}</a>
          </li>
          <li class="fila">
            <a class="" href="listaJuegos">Lista de juegos</a>
          </li>
          <li class="fila" *ngIf="isAdmin()">
            <a class="" href="administracion">Panel de administración</a>
          </li>
        </ul>
        <div class="cajaSesion">
          <div class="sesion" *ngIf="!logueado()">
            <a class=""  href="login">Iniciar sesión</a>
            <a class=""  href="register">Registrarse</a>
          </div>
          <div class="sesion" *ngIf="logueado()">
            <a href="perfil">Perfil</a>
            <a href="" (click)="doLogout()">Cerrar Sesión</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
